.Feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin: 4em auto;
  width: 75%;
  position: relative;
}

.Feedback img {
  width: 60px;
  position: absolute;
  left: 90px;
  top: 140px;
}

.Feedback p {
  font-size: 20px;
  z-index: 2;
  width: 80%;
  margin: 1em 0;
}

.Feedback-writer {
  color: #ff3147;
  font-size: 20px;
  font-weight: 500;
}

.Feedback-designation {
  color: #808080;
  font-size: 20px;
  font-weight: lighter;
}
